[core]
	editor = vim
	pager = less
[color]
	branch = auto
	status = auto
	diff = auto
[user]
	name = Iblis Lin
	email = iblis@hs.ntnu.edu.tw
[alias]
	ci = commit
	co = checkout
	df = diff
	st = status
	lg = log --abbrev-commit --name-status --graph
[push]
	default = matching
