[core]
    editor = vim
    pager = less
[color]
    ui = auto
[user]
    name = Iblis Lin
    email = iblis@hs.ntnu.edu.tw
[alias]
    a = add
    ci = commit -v
    co = checkout
    cp = cherry-pick
    df = diff
    st = status
    s = status
    lg = log --abbrev-commit --name-status --graph
    tree = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    # tree = log --graph --pretty=oneline --abbrev-commit
    loog = log --pretty=full
    looog = log --pretty=fuller
    unstage = reset HEAD --
    p = push
    ri = rebase -i --autosquash
    fix = commit -v --fix
[push]
    default = matching
[merge]
    tool = vimdiff
[commit]
	gpgsign = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
