[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "vim/bundle/code_complete"]
	path = vim/bundle/code_complete
	url = git://github.com/mbbill/code_complete.git
