[core]
	editor = vim
	pager = less
	editor = vim
[color]
	ui = auto
[user]
	name = Iblis Lin
	email = e196819@hotmail.com
[alias]
	ci = commit
	co = checkout
	df = diff
	st = status
	lg = log --abbrev-commit --name-status --graph
	unstage = reset HEAD --
[push]
	default = matching
[merge]
	tool = vimdiff
