[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "vim/bundle/zencoding"]
	path = vim/bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/php.syntax"]
	path = vim/bundle/php.syntax
	url = git://github.com/StanAngeloff/php.vim.git
