"*":
  "atom-material-ui":
    colors: {}
    fonts: {}
    tabs:
      tintedTabBar: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    enableExtendedUnicodeSupport: true
  "clean-context-menu":
    editorEdit: "hidden"
    treeEdit: "hidden"
    treeEdit2: "hidden"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "linter-julia"
      "welcome"
    ]
    projectHome: "/home/iblis/git"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 24
    invisibles: {}
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "48ee30d6-2d99-4399-88c9-906fba8017d4"
  "file-icons": {}
  "julia-client":
    enableMenu: true
    enableToolBar: true
    launchOnStartup: true
  "linter-ui-default":
    panelHeight: 323
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
    scrollAnimation: true
  "tool-bar":
    position: "Left"
  "uber-juno":
    disable: true
  "vim-mode-plus":
    ignoreCaseForSearch: true
    ignoreCaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
".coffee.source":
  editor:
    tabLength: 2
".console.julia.source":
  editor:
    preferredLineLength: 92
".julia.source":
  editor:
    preferredLineLength: 92
    softWrap: true
