'.text.restructuredtext':
  'chapter':
    'prefix': 'chap'
    'body': '''
      ${1:Chapter}
      ================================================================================
      $0
      '''
  'section':
    'prefix': 'sec'
    'body': '''
      ${2:Section}
      ----------------------------------------------------------------------
    '''
