snippet "([0-9])(v)?" "The tabstop n" r
\${`!p snip.rv = match.group(1) + ':' + ('${VISUAL:' if match.group(2) is not None else '')`${0:place_holder}`!p snip.rv += '}' + ('}' if match.group(2) is not None else '')`
endsnippet
